.counter {
  width: 90%;
  background-color: #ddd;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.counter span {
  padding: 10px;
}

.btnAdd {
  padding: 5px;
  border-radius: 10px;
  border-color: n;
  margin-top: 5px;
  background-color: rgb(153, 250, 89);
}
